* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set up the body to fill the viewport and center its content */
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-align: center; 
    color: #333;
  }
  
  h1 {
    font-size: 3em;
  }

  pre{
    font-size: xx-large;
    font-family: "Menlo", sans-serif;
    height: auto;
  }

  pre:last-child{
    color: #ffc107;
  }
  

  .divButton {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
  }

  button {
      background-color: #fff;
      font-size: 1em;
      width: 5.5em;
      min-width: 5.5em;
      height: 3em;
      margin: 0 8px;
      border: 1px solid #dcdcdc;
      border-radius: 2.5em;
      letter-spacing: .01em;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      cursor: pointer;
  }

  button.restart-button {
      background: url("assets/shuffle.svg") center no-repeat;
      background-size: auto;
      background-size: 60%;
      width: 3em;
      min-width: 3em;
  }

  #wordInput{
    border: none;
    text-transform: uppercase;
    border-bottom: 3px solid #ffc107;
    height: 50%;
    min-width: 1px;
    outline: none;
    font-family: "Menlo", sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    caret-color: darkgray;
    letter-spacing: 0.08em;    

    
  }

  .input-error {
    animation: shake 0.33s ease-in-out 0s 2;
  }

  @keyframes shake {
    0% { margin-left: 0rem;     margin-right: 0rem;}
    /* 75% { margin-left: 0.5rem;  margin-right: 0.5rem;} */
    50% { margin-left: -1rem; margin-right: -1em;}
    100% { margin-left: 0rem;   margin-right: 0rem;}
  }
  @keyframes shake2 {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }